<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amigos</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
    <div class="amigos-container">
        <div class="perfil-header">
            <img src="/img/gallo.jpg" alt="Avatar" class="avatar">
            <div class="perfil-header-content">
                <h1><%= session.username %></h1>
                <p class="tipo-usuario"><%= session.esAdmin ? 'Administrador' : (session.esVIP ? 'Cliente VIP' : 'Cliente Normal') %></p>
            </div>
        </div>
        <div class="amigos-header">
            <h1>Amigos de <%= session.nombre %></h1>
        </div>
        <div class="amigos-content">
            <div class="amigos-añadir">
                <form action="/contenido/nuevaSolicitud" method="POST">
                    <input type="text" name="amigo" placeholder="Añade un amigo...">
                    <button type="submit">Añadir</button>
                </form>
            </div>
            <ul>
                <% if (amigos) { %>
                    <% amigos.forEach(amigo => { %>
                        <li>
                            <img src="/img/descarga.jpeg" alt="Avatar">
                            <span class="nombre"><%= amigo.username %></span>
                            <div class="acciones">
                                <a href="/contenido/chat?amigo=<%= amigo.username %>" target="_blank">
                                    <button>Mensaje</button>
                                </a>
                                <form action="/contenido/eliminarAmigo" method="POST">
                                    <input type="hidden" name="amigo" value="<%= amigo.username %>">
                                    <button type="submit">Eliminar</button>
                                </form>
                            </div>
                        </li>
                    <% }) %>
                <% } else { %>
                    <li>No tienes amigos aún.</li>
                <% } %>
            </ul>
        </div>
    </div>
</body>
</html>