<div class="editor-eventos-container">
    <% if (error) { %>
        <div class="error-message">
            <%= error %>
        </div>
        <% } %>

            <form action="/contenido/eventos/<%= evento.id %>/actualizar" method="POST">

                <h3>Editar Evento</h3>

                <div class="form-editar-evento">
                    <label for="equipoA">EquipoA:</label>
                    <input type="text" id="equipoA" name="equipoA" value="<%= evento.equipoA %>" required>
                </div>

                <div class="form-editar-evento">
                    <label for="equipoB">EquipoB:</label>
                    <input type="text" id="equipoB" name="equipoB" value="<%= evento.equipoB %>" required>
                </div>

                <div class="form-editar-evento">
                    <label for="deporte">Deporte:</label>
                    <select id="deporte" name="deporte" required>
                        <option value="fútbol 11" <%=evento.deporte==='fútbol' ? 'selected' : '' %>>Fútbol 11</option>
                        <option value="fútbol 7" <%=evento.deporte==='fútbol' ? 'selected' : '' %>>Fútbol 11</option>
                        <option value="fútbol sala" <%=evento.deporte==='fútbol' ? 'selected' : '' %>>Fútbol sala
                        </option>
                        <option value="baloncesto" <%=evento.deporte==='baloncesto' ? 'selected' : '' %>>Baloncesto
                        </option>
                        <option value="rugby" <%=evento.deporte==='rugby' ? 'selected' : '' %>>Rugby</option>
                        <option value="voleibol" <%=evento.deporte==='voleibol' ? 'selected' : '' %>>Voleibol</option>
                    </select>
                </div>

                <div class="form-editar-evento">
                    <label for="fecha">Fecha:</label>
                    <input type="date" id="fecha" name="fecha"
                        value="<%= evento.fecha ? new Date(evento.fecha).toISOString().split('T')[0] : '' %>" required>
                </div>

                <div class="form-confirmar-evento">
                    <a href="/contenido/eventos" class="admin-btn danger">Cancelar</a>
                    <button type="submit" class="admin-btn">Guardar Cambios</button>
                </div>
            </form>
</div>