<div class="editor-competicion-container">
    <% if (error) { %>
        <div class="error-message">
            <%= error %>
        </div>
    <% } %>

    <form id="formEditarCompeticion" action="/contenido/competiciones/<%= competicion.id %>/actualizar" method="POST">

        <h3>Editar Competición</h3>

        <div class="form-editar-competicion">
            <label for="evento">Evento:</label>
            <select id="evento" name="evento" required>
                <% eventos.forEach(evento => { %>
                    <option value="<%= evento.id %>" 
                        <%= evento.id === competicion.eventoId ? 'selected' : '' %>>
                        <%= evento.equipoA %> vs <%= evento.equipoB %> - <%= evento.deporte.toUpperCase() %> (<%= evento.genero %>)
                    </option>
                <% }) %>
            </select>
        </div>

        <div class="form-editar-competicion">
            <label for="precio">Precio de la Competición:</label>
            <input type="number" id="precio" name="precio" value="<%= competicion.precio %>" required>
        </div>

        <div class="form-confirmar-competicion">
            <a href="/contenido/competiciones" class="admin-btn danger">Cancelar</a>
            <button type="submit" class="admin-btn">Guardar Cambios</button>
        </div>
    </form>

    <div id="modalConfirmacionEditar" class="modal-confirmacion">
        <div class="contenido-modal">
            <h3>Confirmar edición</h3>
            <p><strong>Estas seguro de que deseas editar la competición?</strong></p>
            <p>Recuerda que si editas la competición, por politica de juegos, se eliminaran todas las apuestas y se le reembolsara el dinero a los usuarios.</p>
            <div class="botones-modal">
                <button id="botonCancelarEditar" class="admin-btn danger">Cancelar</button>
                <button id="botonConfirmarEditar" class="admin-btn">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>
