<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitudes</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
    <div class="amigos-container">
        <div class="perfil-header">

            <% if (session.imagePath.rutaImg) { %>
                <img src="<%= session.imagePath.rutaImg %>" alt="Avatar" class="avatar">
            <% } else { %>
                <img src="/img/default.jpeg" alt="Avatar" class="avatar">
            <% } %>
            <div class="perfil-header-content">
                <h1><%= session.username %></h1>
                <p class="tipo-usuario"><%= session.esAdmin ? 'Administrador' : (session.esVIP ? 'Cliente VIP' : 'Cliente Normal') %></p>
            </div>
        </div>
        <div class="amigos-header">
            <h1>Solicitudes pendientes</h1>
        </div>
        <div class="amigos-content">
            <ul>
                <% if (solicitudes) { %>
                    <% solicitudes.forEach(solicitud => { %>
                        <li>
                            <img src="<%= solicitud.rutaImg ? solicitud.rutaImg : '/img/default.jpeg'%>" alt="Avatar">
                            <span class="nombre"><%= solicitud.username %></span>
                            <div class="acciones">
                                <form action="/contenido/aceptarSolicitud" method="POST">
                                    <input type="hidden" name="amigo" value="<%= solicitud.username %>">
                                    <button type="submit">Aceptar</button>
                                </form>
                                <form action="/contenido/eliminarAmigo" method="POST">
                                    <input type="hidden" name="amigo" value="<%= solicitud.username %>">
                                    <button type="submit">Rechazar</button>
                                </form>
                            </div>
                        </li>
                    <% }) %>
                <% } else { %>
                    <li>No tienes solicitudes pendientes.</li>
                <% } %>
            </ul>
        </div>
    </div>
</body>
</html>